*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(94, 94, 221);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordBox{
  width: 350px;

  padding: 20px;
  background-color: blueviolet;
}

.passwordBoxin{
  display: flex;

}

.passwordBoxin input{
  flex-basis: 80%;
  padding: 5px;
}

.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0px;
}

.passlength{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.passlength input{
  width: 60px;
 padding: 5px 0px;
}

.btn{
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
}